<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vaultpro">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".Snap"></activity>
        <activity android:name=".register1" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".PasswordCreation" />
        <activity android:name=".register" />
        <activity android:name=".ListViewr" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>